@(message: String)

@main("Welcome to Play") {

    <p>Click to learn about <a href="http://www.playframework.com/">@message</a></p>
    <p>Download <a href="https://www.dropbox.com/s/eycyqndjymfowzu/Learning%20Play%21%20Framework%202.pdf">Learning Play! Framework2</a></p>
    <p>This textbook uses Play 2.0, which has minor difference from the latest version Play 2.2. Should something fail to work as expected, please refer to the online tutorial or Google. :)</p>
    <p>Download <a href="http://www.packtpub.com/support">sample code</a> for the textbook</p>

}
