@(courseId:Integer, slotMap: Map[TimeSlot,Integer], exam:Exam)
<form id="slotForm@courseId">
    <input type="hidden" name="courseId" value="@courseId"/>
    <select name="slotId">
        @slotMap.map{ slot=>
        <option @if(exam!=null && exam.getStartTime.equals(slot._1.getStartTime)){selected="selected"}
                value="@slot._1.getTimeSlotId">@slot._1.getStartTime.format("dd/MM/yyyy") @slot._1.getStartTime.format("kk:mm")-@slot._1.getEndTime.format("kk:mm")
                (@slot._2/@slot._1.getCapacity)</option>
        }
    </select>
    <input type="submit" value="Save"/>
    <input type="button" name="cancel"  value="Cancel"/>
</form>