@(courseId: Integer, examSessionMap: Map[ExamSession,Integer], slot: TimeSlot)
<form class="form-inline" id="slotForm@courseId">
    <input type="hidden" name="courseId" value="@courseId"/>
    <select class="form-control" name="examSessionId">
        @examSessionMap.map{ map=>
        <option @if(slot!=null && map._1.getTimeSlot.getTimeSlotId==slot.getTimeSlotId){selected="selected"}
                value="@map._1.getExamSessionId">@map._1.getTimeSlot.getStartTime.format("dd/MM/yyyy") @map._1.getTimeSlot.getStartTime.format("kk:mm")-@map._1.getTimeSlot.getEndTime.format("kk:mm")
                (@map._2/@map._1.getCapacity)</option>
        }
    </select>
    <button class="btn btn-default btn-xs" type="submit">Save</button>
    <button class="btn btn-default btn-xs" type="button" name="cancel">Cancel</button>
</form>