@(examRecord: ExamRecord, questionList: List[Question])
<div class="panel panel-default" id="question">
    <div class="panel-heading">
        <h4>Instruction</h4>
        <p>@examRecord.getCourse.getInstruction</p>
    </div>
    <div class="panel-body">
        <div class="list-group">
        @questionList.map{ question =>
            <a class="list-group-item">
                <div>
                    @question.getContent
                </div>
                <form class="form-default">
                    <input type="hidden" name="questionId" value="@question.getQuestionId"/>
                    <input type="hidden" name="examRecordId" value="@examRecord.getExamRecordId"/>
                    <textarea class="form-control" rows="5" name="answer"></textarea>
                    <button class="btn btn-primary btn-sm line" type="button" name="saveanswer">Save</button>
                    <span name="answererror" class="text-danger"></span>
                    <span name="answersuccess" class="text-success hidden"></span>
                </form>
            </a>
        }
        </div>
    </div>
</div>
<div id="interact">
    <div class="panel panel-default" id="notice">
        <div class="panel-heading">Notice</div>
        <div class="panel-body">
            <span id="ready"></span>
            <span id="wait">Please wait for the camera to get ready. This will take a few seconds...</span><br/>
            <div id="video">

            </div>
        </div>
    </div>
    <div class="panel panel-default" id="chatting">
        <div class="panel-heading">Message</div>
        <div class="panel-body">
            <div class="well" id="history">

            </div>
            <form>
                <input type="hidden" name="examRecordId" value="@examRecord.getExamRecordId" />
                <textarea rows="4" class="form-control" name="message"></textarea>
                <input class="btn btn-primary btn-sm" type="button" name="sendmessage" value="send" /><br/>
                <span name="messageerror" class="text-danger" ><br/></span>
            </form>
        </div>
    </div>
</div>
