@(examRecord: ExamRecord, questionList: List[Question])
<style>
    #question{
        float:left;
        width:800px;
        border:1px solid #ccc;
    }
    #interact{
        margin-left:810px;
        width:300px;
        border:1px solid #ccc;
    }
    textarea{
        width:750px;
        height:100px;
    }
    #video{
        width:200px;
        height:150px;
        margin-left: 30px;
        border:1px solid #ccc;
    }
    #video img{
        max-width:100%;
        max-height:100%;
    }
    #ready{
        font-weight: bold;
    }
    #interact textarea{
        width:270px;
    }
    #history{
        height:300px;
        overflow-y:auto;
        border:1px solid #ccc;
    }
    .invigilator{
        text-align:left;
        color:blue;
        margin-left: 10px;
    }
    .student{
        text-align:right;
        color:green;
        margin-right: 10px;
    }
</style>
<div id="question">
    <div>
        @examRecord.getCourse.getInstruction
    </div>
    @questionList.map{ question =>
        <div>
            <div>
                @question.getContent
            </div>
            <form>
                <input type="hidden" name="questionId" value="@question.getQuestionId"/>
                <input type="hidden" name="examRecordId" value="@examRecord.getExamRecordId"/>
                <textarea name="answer"></textarea><br/>
                <input type="button" name="saveanswer" value="save"/>
                <span name="answererror" style="color:red;display:none;"></span>
                <span name="answersuccess" style="display:none;"></span>
            </form>
        </div>
    }
</div>
<div id="interact">
    <div id="notice">
        <span id="ready"></span>
        <span id="wait">Please wait for the camera to get ready. This will take a few seconds...</span>
    </div>
    <div id="video">

    </div>
    <div id="chatting">
        <div id="history">

        </div>
        <form>
            <input type="hidden" name="examRecordId" value="@examRecord.getExamRecordId" />
            <textarea name="message"></textarea>
            <input type="button" name="sendmessage" value="send" />
            <span name="messageerror" style="color:red"></span>
        </form>
    </div>
</div>
