@(studentList: List[cw_models.Student], courseList: List[cw_models.Course])
@main("Add student and course data") {
        <div id="student">
            <h1>Existing students</h1>
            <ul id="existingstudents">
                @studentList.map{ student =>
                    <li>@student.getMatricNo()</li>
                }
            </ul>
            <h2>Add student data</h2>
            <form id="studentForm" enctype="multipart/form-data">
                matric No: <input type="text" name="matricNo"/><br/>
                photo: <input type="file" name="photo"/> <br/>
                <input type="submit" value="add"/> <br/>
            </form>
            <span id="studenterror" style="color:red;display:none;"></span>
        </div>
        <hr/>
        <div id="course">
            <h1>Existing courses</h1>
            <ul id="existingcourses">
                @courseList.map{ course=>
                    <li>@course.getCourseCode() : @course.getTitle()</li>
                }
            </ul>
            <h2>Add course data</h2>
            <form id="courseForm">
                course code: <input type="text" name="courseCode"/>
                title: <input type="text" name="title"/>
                number of questions per exam paper: <input type="text" name="questionNo"/><br/>
                <textarea name="instruction" ></textarea>
                <input type="submit" value="add"/>
            </form>
            <span id="courseerror" style="color:red;display:none;"></span>
        </div>
        <script src="@routes.Assets.at("javascripts/data/stucourse.js")" type="text/javascript"></script>
}
