@(examRecordList: List[ExamRecord])
@main("Invigilator"){
        @examRecordList.map{ examRecord=>
            <div class="out" name="forjs" id="@examRecord.getExamRecordId">
                <div class="video">
                    <img/>
                </div>
                <span name="pollerror" class="text-danger"></span>
                <div class="action">
                    <div class="panel panel-default interact">
                        <div class="panel-heading" name="comm_header"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Communication</div>
                        <div class="panel-body">
                            <div class="info">
                                <p>@examRecord.getStudent.getMatricNo</p>
                                <img src="/getphoto/@examRecord.getStudent.getStudentId" /><br/>
                                <form>
                                    <input type="hidden" name="examRecordId" value="@examRecord.getExamRecordId" />
                                    <input type="radio" name="status" value="1" checked="checked"/> Authenticate <br/>
                                    <input type="radio" name="status" value="0"/> Expel <br/>
                                    <input type="button" name="verify" value="Submit" class="btn btn-primary btn-xs" />
                                </form>
                            </div>
                            <div class="message">
                                <form class="form-inline">
                                    <input type="hidden" name="examRecordId" value="@examRecord.getExamRecordId" />
                                    <input type="text" name="message" class="form-control input-sm"/>
                                    <input type="button" name="sendmessage" value="Send" class="btn btn-primary btn-xs" />
                                </form>
                                <div class="well history">
                                    <span name="messageerror" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default remark">
                        <div class="panel-heading" name="remarkheader"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Remark</div>
                        <div class="panel-body">
                            <form>
                                <input type="hidden" name="examRecordId" value="@examRecord.getExamRecordId" />
                                <textarea class="form-control" rows="5" name="remark"></textarea>
                                <input type="button" name="submitremark" value="Submit" class="btn btn-primary btn-xs" />
                                <span name="remarkerror" class="text-danger"></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
        <script src="@routes.Assets.at("javascripts/invigilatorinexam.js")" type="text/javascript"></script>
}