@(timeSlotList: List[TimeSlot])
    <div id="admin">
        @timeSlotList.groupBy(_.getStartTime.format("yyyy-MM-dd")).toSeq.sortBy(_._1).map{ timeSlotGroup =>
            <div>
                <table class="table table-striped">
                    <thead><tr><th colspan="2">@timeSlotGroup._1</th></tr></thead>
                    <tbody>
                        @timeSlotGroup._2.map{ timeSlot =>
                            @if(timeSlot.getExamRecordList.size()>0){
                                <tr><td>@timeSlot.getStartTime.format("kk:mm:ss") - @timeSlot.getEndTime.format("kk:mm:ss") (@timeSlot.getExamRecordList.size())</td>
                                <td id="list@timeSlot.getTimeSlotId">@if(timeSlot.getInvigilatorSet.size == 0){
                                    <form>
                                        <input type="hidden" name="timeSlotId" value=@timeSlot.getTimeSlotId>
                                        <button type="button" class="btn btn-info btn-sm" name="assign">Assign</button>
                                    </form>
                                } else {
                                    @timeSlot.getInvigilatorSet.map{ invigilator =>
                                        @invigilator.getName()
                                    }
                                }</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div id="content" class="modal-content">
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin.css")">
    <script src="@routes.Assets.at("javascripts/adminassign.js")" type="text/javascript"></script>