@(list:List[String])

@main("Assign Invigilator"){

<h2>Assign Invigilator</h2>

    <form action="assignInvigilator" method="post">

        @if(list.size>0){
        <p>Invigilator Email:<input type="text" name="invigilator email"></p>
        <p>Number of Student You want to assign to this Invigilator:<input type="text" name="numStudent"></p>
        <p>Invigilator Email:<input type="text" name="invigilator email"></p>
        <select name="selection">


            @for(i <- 0 to list.size-1){
            <option value ="@i">@list.get(i)</option>
            @i++;
            }

        </select>
        <p><input type="submit" value="Assign"/></p>
        }else{
        <h3 style="color:red">No allocation is currently available to be assigned</p>
            }

    </form>
    <a href='login'><input value="Back" type=button></a>
    }