@()
@main("Create an Invigilator"){
    <script type="text/javascript">
    function validate(){
        var content = document.getElementById("AdminName").value;
        if(content==""||content==null){
            alert("You need to write a Admin Name");
            return false;
        }

        content = document.getElementById("Email").value;
        if(content==""||content==null){
            alert("You need to write an Email");
            return false;
        }

        content = document.getElementById("Password").value;
        if(content==""||content==null){
            alert("You need to write a Password");
            return false;
        }

        return true;
    }
    </script>

    <h1>Create an Invigilator</h1>

    <form action="createInvigilator" method="post" onsubmit="return validate()">
        name: <input id="AdminName" type="text" name="name" /><br/>
        email: <input id="Email" type="text" name="email" /><br/>
        password: <input id="Password" type="text" name="password" /><br/>
        <input type="submit" value="create" />
    </form>
    <a href='login'><input value="Back" type=button></a>


}